name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    steps:
      - uses: actions/checkout@v6
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "22"
          cache: pnpm
          cache-dependency-path: pnpm-lock.yaml
      - name: Install frontend dependencies
        run: pnpm install
      - name: Check frontend format
        run: pnpm typecheck && pnpm lint
      - name: Build frontend
        run: pnpm build
      - name: Upload build artifacts
        uses: actions/upload-artifact@v5
        with:
          name: vault-hub-web
          path: |
            dist
