name: Mirroring
on:
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  to_gitlab:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false
      - uses: keninkujovic/gitlab-sync@2.1.0
        with:
          gitlab_url: https://git.slw.app/${{ secrets.GITLAB_USERNAME }}/vault-hub-web.git
          username: ${{ secrets.GITLAB_USERNAME }}
          gitlab_pat: ${{ secrets.GITLAB_ACCESS_TOKEN }}
          force_push: true
